.MainNavBar {
  &__nav-wrapper {
    padding: 0 2rem;
  }

  &__title-wrap {
    padding: 0;
    margin: .75rem 0 0 0;
    font-size: 1rem;
    text-align: center;
  }

  &__title {
    font-size: 2rem;
    margin-bottom: .75rem;
  }
}