.MainNavBar {
  &__nav-wrapper {
    padding: 0 2rem;
  }

  &__title-wrap {
    padding: 0;
    margin: .75rem 0 0 0;
    font-size: 1rem;
    text-align: center;
  }

  &__title {
    font-size: 2rem;
    margin-bottom: .75rem;
  }
}


.MainNavLinks {
  &__item {
    position: relative;
  }

  &__item-count {
    align-items: center;
    background: #fff;
    border-radius: 100rem;
    color: #000;
    display: flex;
    font-size: 12px;
    height: 15px;
    justify-content: center;
    position: absolute;
    right: 2px;
    width: 15px;
    top: 15px;
  }
}